{#
/**
 * @file
 * Theme Component components/header/default/header.
 */
#}

{{ attach_library('eau/bc--navbar') }}
{{ attach_library('eau/bc--nav') }}

{% set navbar_attribute = create_attribute() %}
{%
  set header_classes = [
    'navbar',
    'flex-grow-1',
    navbar.expand,
    navbar.bg ? navbar.bg,
    navbar.color,
    navbar.out ? navbar.out,
  ]
%}

{{ navbar_align }}

<nav{{ navbar_attribute.addclass(header_classes) }}>
  <div class="{{ global.container }}">
    {{ page.branding }}

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainSidebar"
      aria-controls="mainSidebar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainSidebar">
      {{ page.nav_main }}
      {{ page.header }}
    </div>
  </div>
</nav>

<div class="wrapper--branding border-bottom">
  <div class="{{ global.container }}">
    <div class="row align-items-center py-3">
      {{ page.branding }}
      {{ page.nav_main }}
    </div>
  </div>
</div>
